
* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
}

text {
    transform: rotate(-90deg)translate(0px,-20px);
    padding:5px;
    text-anchor: end;
}

#explorer{
    width: 1000px;
    height: 100%;
}
md-content{
    background: rgb(217, 203, 255);
}
div#explorer {
     transform: rotate(90deg)/*translateX(200px)*/;
     position: relative;
     left: 0pt;
     top: -140pt;
}

div#explorer {}

/*text {
    transform: rotate(-90deg);
}
#explorer{
    transform: rotate(90deg);
    position: relative;
    top: -345px;
}*/
.margin-center{
    margin:0 auto;
}
md-input-container{
    margin: 3pt 0;
}
body{
    background: rgb(217, 203, 255);
    height: 1200px;
}
.form-common{
    width:200pt;
    margin-top: 0pt;
    padding: 10pt 20pt 0pt 20pt;
    background-color: rgb(236, 236, 236);
    border-radius: 5pt;
    border: 1pt solid rgb(224, 224, 224);
}
.btn-blue{
    color: white!important;
    background-color: rgb(140, 140, 232) !important;
}
.text-grey{
    color: #656565 !important;
}
.menu-blue{
    background-color: rgb(54, 54, 144);
}
.text-white{
    color:white;
}
.caption{
    font-size: 14pt;
    color: #888888;
}
.header{
    font-size: 40pt;
    color: #363096;
    text-align: center;
    letter-spacing: 2pt;
    margin-top: 0px;
}
.btn-submit{
    top: -14pt;
}
.pull-right{
    float: right;
}

/*slider css*/
.main-shell {
    position: relative;
    width:300px;
    margin:100px;
}
.main-shell ul{
    padding:0;
    margin:0;
    width: 900px;
}
.main-shell ul li {
    list-style:none;
    display:inline-block;

}
.view-window {
    overflow: hidden;
    position:relative;
}

.full-size-list{
    position:relative;
    transition:  left .8s ease;
}
.bullets {
    background: transparent;
    width: 100%;
    position: absolute;
    bottom: 30px;
    right: 15px;
    width: 30%;
    ul li {
        border-radius:10px;
        width:20px;
        height: 20px;
        background: #fff;
        text-align: center;
        margin-left: 0.3em;
        cursor:pointer;
        a {
            color:#333;
            &:hover {
                text-decoration:none;
            }

        }
    }
}
.bullets ul li.active {
    background: #000;
    a {
        color:#fff;
    }
}
.padding-16{
    padding:16px;
}

