<md-menu-bar class="menu-blue">
    <md-menu>
        <button ui-sref="app.home" class="text-white">
            HOME
        </button>
        <md-menu-content>
        </md-menu-content>
    </md-menu>
    <md-menu>
        <button ng-click="" class="text-white">
            PLAN
        </button>
        <md-menu-content>
        </md-menu-content>
    </md-menu>
    <md-menu>
        <button ng-click="" class="text-white">
            CONTACT
        </button>
        <md-menu-content>
        </md-menu-content>
    </md-menu>
    <md-menu class="pull-right" ng-hide="true">
        <button ui-sref="app.register"  class="text-white">
            REGISTER
        </button>
        <md-menu-content>
        </md-menu-content>
    </md-menu>
    <md-menu class="pull-right" ng-hide="true">
        <button ui-sref="app.login" class="text-white">
            LOGIN
        </button>
        <md-menu-content>
        </md-menu-content>
    </md-menu>
    <md-menu class="pull-right" ng-show="false">
        <button ui-sref="app.profile" class="text-white">
            PROFILE
        </button>
        <md-menu-content>
        </md-menu-content>
    </md-menu>

</md-menu-bar>
<div style="clear: both"></div>